.field {
  margin: 1em 0;
}

label {
  cursor: pointer;
  color: #F44717;
  line-height: 150%;
}

input[type="text"], textarea {
  width: 100%;
  border-width: 1px;
  border-color: #999;
  padding: 2px;
}

textarea {
  height: 300px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input[type="text"], .field_with_errors textarea {
  border-color: red;
}

.actions .back {
  margin-left: 0.5em;
}