.pages_navigation {
  float: right;
  font-family: 'Kotta One', serif;
  max-width: 33%;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  position: sticky;
  top: 0.75em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0em 0em 2em white;
}

.pages_navigation span {
  font-family: "Pacifico", cursive;
  font-size: 1.2em;
}

.pages_navigation ul {
  font-size: 0.9em;
  list-style-type: circle;
  padding-left: 1.33em;
  color: #F44717;
}

.pages_navigation li {
  margin: 0.67em 0;
  color: #F44717;
}