.timestamps, .comments_count {
  display: block;
  font-variant: small-caps;
  font-family: "Kotta One", serif;
  margin-left: 0.8em;
}

.comments {
  margin-left: 1em;
}

.comments .comment_title {
  font-variant: small-caps;
  font-weight: bold;
}

.comments .comment_content {
  margin: 1em;
}