html {
  font-family: 'Kotta One';
}

body {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 0 2em;
}

header a.logo {
  text-decoration: none;
  color: inherit;
}

header a.logo .bullet {
  transition: color 0.2s;
}

header a.logo:hover .bullet {
  color: #1EA61E;
}

header a.logo:active .bullet {
  color: white;
}

header .logo h1 {
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-size: 5.5em;
  margin-top: 0.4em;
  position: relative;
  left: 0.5em;
}

header .logo h1 sub {
  font-size: 40%;
  bottom: -1.7em;
  margin-left: -3.9em;
}

header nav {
  text-align: right;
}

.notice {
  text-align: center;
  color: #1EA61E;
}

main {
  margin: 2em;
}

header nav a, main a {
  color: inherit;
  transition: color 0.2s;
}

header nav a:hover, main a:hover {
  color: #1EA61E;
}

header nav a:active, main a:active {
  color: white;
}

main table {
  border-spacing: 0.67em;
  border-collapse: separate;
}
