<section id="comments">
  <% if page_comments.size > 0 -%>
    <%= content_tag_for :article, page_comments do |comment| %>
      <div class="comment_title">
        <small>On <%=l comment.created_at.localtime, format: :human_long %>, <%= comment.author %> wrote</small>
      </div>
      <div class="comment_content"><%= comment_content comment %></div>
    <% end %>
  <% end -%>
</section>