<p id="comments_count" class="comments_count">
  <%= link_to_if wrap_comments_count_with_link, content_tag(:small, pluralize(page.comments.size, 'comment')), page_path(page, anchor: 'comments') %>
</p>