<section id="comments" class="comments">
  <%= content_tag_for :article, page_comments do |comment| %>
    <p class="comment_title">
      <small>On <%=l comment.created_at.localtime, format: :human_long %>, <%= comment.author %> wrote</small>
    </p>
    <p class="comment_content"><%= comment.content %></p>
  <% end %>
</section>