<% if @pages.many? -%>
  <nav class="pages_navigation">
    <span>Pages</span>
    <ul>
    <% @pages.each do |page| -%>
      <li><%= link_to page.title, "##{page.slug}" %></li>
    <% end -%>
    </ul>
  </nav>
<% end -%>

<%= render partial: @pages, locals: { wrap_title_with_link: true, show_comment_form: false }, spacer_template: 'pages_spacer' %>