<h1 class="home_posts">Recent posts</h1>

<%= render partial: @pages, locals: { wrap_title_with_link: true, show_contents: false, show_comments: false, show_comment_form: false, wrap_comments_count_with_link: true }, spacer_template: 'pages_spacer' %>
