<h1>Pages</h1>

<% if @pages.blank? -%>
  No page has been created yet. <%= link_to 'Create one', new_page_path %>
<% else -%>
  <table>
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= link_to page.title, page %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Page', new_page_path %>
<% end -%>